* {
    margin: 0;
    padding: 0;
}

header {
    background-color: tan;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.burger {
    display: none;
}

.cart {
    font-size: 30px;

}

.container {
    display: flex;
    gap: 10px;
}

.menu {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.menuItem {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
} */

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-content: center; 
    flex: 2;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 15px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.addBtn {
    padding: 5px 12px;
    border: 1px;
    border-radius: 3px;
    background-color: burlywood;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;  
}

.modal {
    display: block; /* none */
    position: fixed; 
    z-index: 1; /* Sit on top */
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }